<!-- templates/index.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GP Data Scraper</title>
</head>
<body>
    <h1>GP Data Scraper</h1>
    <form action="/scrape" method="post">
        <label for="postcode">Enter Postcode:</label>
        <input type="text" id="postcode" name="postcode" required>
        <button type="submit">Initiate Scraping</button>
    </form>

    <form action="/process" method="post">
        <label for="postcode">Enter Postcode:</label>
        <input type="text" id="postcode" name="postcode" required>
        <button type="submit">Process Data</button>
    </form>
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get GP Data</title>
</head>
<body style="background-color: navy; color: white;">

    <h1>Get GP Data</h1>

    <form action="/process" method="post">
        <label for="postcode">Enter Postcode:</label>
        <input type="text" id="postcode" name="postcode" required>
        <button type="submit">Go</button>
    </form>

</body>
</html>
